<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{url_for('static',filename='styles/styles.css')}}"/>
    <link rel='stylesheet' href="{{url_for('static',filename='styles/mdb.min.css')}}"/>
    <title>autopilot_(AU-25082021-112340)</title>
  </head>
  <body>
  <script src="{{url_for('static',filename='scripts/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='scripts/scripts.js')}}"></script>
  <script src="{{url_for('static',filename='scripts/mdb.min.js')}}"></script>
  </body>
</html>